# Project 3 -- Tanay Patel

**TA Help:** (for instance) John Smith, Alice Jones, etc., list names of any TAs who helped you

- For example: Help with figuring out how to write a function (describe the tasks that they helped you with)

**Collaboration:** My Friend in CS, My Uncle, Another Student, etc., list names of any other people who helped you

(describe the tasks that they helped you with)
- For example: helped figuring out how to load the dataset.
- Another example: helped debug error with my plot.

**Internet Resources:** Stack Exchange, Stack Overflow, etc.

(describe any information that you learned from internet resources, including the URLs)
- data frames in Pandas versus R from StackOverflow  https://stackoverflow.com/questions/8991709/why-were-pandas-merges-in-python-faster-than-data-table-merges-in-r-in-2012

**ChatGPT, Gemini, Claude, etc:** Any language models or generative AI chatbots that helped you.

(if you used any such tools, please tell us here)
- For example:  I asked ChatGPT how to define a new data frames
- Another example:  Gemini told me how to make a function for sorting my data

- ***Link to AI Chat History***: Please share a link to your chat if you used AI (ex. ChatGPT Shared Links)
**OVERALL MESSAGE:** Any time that you used anything except your brain to solve the questions in these projects, you need to disclose such resources at the start of the project, with details about your usage of the tools.

**YOUR OWN WORK:** Even when you utilize other resources, do NOT just copy and paste.  Write all explanations in your own words, using several sentences in English, which are understandable and which you wrote (and did not just copy and paste).

## Question 1

In [5]:
import pandas as pd

In [6]:
video_games = pd.read_csv("/anvil/projects/tdm/data/grouping/vgchartz-2024.csv")

In [11]:
# Group the data by genre
# Show the average critic score per genre
video_games.groupby("genre", as_index=False)["critic_score"].mean()

               genre  critic_score
0             Action      6.831008
1   Action-Adventure      7.678378
2          Adventure      7.341058
3         Board Game      5.300000
4          Education      7.750000
5           Fighting      7.392424
6                MMO      7.781818
7               Misc      6.884593
8              Music      7.992593
9              Party      5.968750
10          Platform      7.307638
11            Puzzle      7.201049
12            Racing      7.187524
13      Role-Playing      7.470920
14           Sandbox      9.200000
15           Shooter      7.276800
16        Simulation      6.914719
17            Sports      7.291027
18          Strategy      7.431733
19      Visual Novel      8.500000

In [12]:
genre_scores = video_games.groupby("genre", as_index=False)["critic_score"].mean()

In [21]:
genre_scores.sort_values("critic_score", ascending=False)

               genre  critic_score
14           Sandbox      9.200000
19      Visual Novel      8.500000
8              Music      7.992593
6                MMO      7.781818
4          Education      7.750000
1   Action-Adventure      7.678378
13      Role-Playing      7.470920
18          Strategy      7.431733
5           Fighting      7.392424
2          Adventure      7.341058
10          Platform      7.307638
17            Sports      7.291027
15           Shooter      7.276800
11            Puzzle      7.201049
12            Racing      7.187524
16        Simulation      6.914719
7               Misc      6.884593
0             Action      6.831008
9              Party      5.968750
3         Board Game      5.300000

## Sandbox genre has the average critic score.

In [18]:
video_games.groupby("console", as_index=False)["total_sales"].sum().sort_values("total_sales", ascending=False)

   console  total_sales
53     PS2      1027.76
73    X360       859.79
54     PS3       839.70
52      PS       546.25
55     PS4       539.92
..     ...          ...
65    TG16         0.00
77      XS         0.00
78     ZXS         0.00
79     iOS         0.00
80    iQue         0.00

[81 rows x 2 columns]

## Playstation 2 has the highest number of total sales.

## In Python, we can group data in a pandas data frame using a .groupby() function. It is useful because by using that we can get summarized information on huge columns using functions like sum(), mean(), etc. And that kind of grouping lets us see patterns and trends.

In this question 1, we learn how to group data in python using .groupby() function. And by collapsing many rows into summaries using groupby() and other functions, we can make sense of raw information by using functions like .mean(), .sum(), .count(), etc.

## Question 2

In [24]:
video_games["high_rated"] = video_games["critic_score"] >= 7

In [26]:
video_games["high_rated"].value_counts()

high_rated
False    59689
True      4327
Name: count, dtype: int64

In [28]:
video_games["low_rated"] = video_games["critic_score"] < 7

video_games["low_rated"].value_counts()

low_rated
False    61665
True      2351
Name: count, dtype: int64

In [29]:
video_games['critic_score'].isna().sum()

np.int64(57338)

In [35]:
sports_hits = video_games[
    (video_games["genre"] == "Sports") & (video_games["high_rated"] == True)
]

In [32]:
sports_hits[sports_hits['critic_score'] == 9.5]

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update,high_rated,low_rated
75,/games/boxart/1473680ccc.jpg,Madden NFL 2004,PS2,Sports,EA Sports,EA Tiburon,9.5,5.23,4.26,0.01,0.26,0.71,2003-08-12,NaN,True,False
114,/games/boxart/4564394ccc.jpg,Madden NFL 2005,PS2,Sports,EA Sports,EA Tiburon,9.5,4.53,4.18,0.01,0.26,0.08,2004-08-09,NaN,True,False
4359,/games/boxart/8490939ccc.jpg,SSX 3,GC,Sports,EA Sports BIG,EA Canada,9.5,0.38,0.29,NaN,0.08,0.01,2003-10-20,NaN,True,False

## In sports_hits, Madden NFL 2004, Madden NFL 2005 and SSX 3 had a critic score of exactly 9.5

In [36]:
sports_fails = video_games[
    (video_games["genre"] == "Sports") & (video_games["low_rated"] == True)
]

In [38]:
sports_fails[sports_fails['critic_score'] == 2.8]

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update,high_rated,low_rated
8292,/games/boxart/full_554728AmericaFrontccc.jpg,Major League Baseball 2K10,DS,Sports,2K Sports,Visual Concepts,2.8,0.15,0.14,NaN,NaN,0.01,2010-03-02,NaN,False,True
59297,/games/boxart/full_mlb-slam_460AmericaFront.jpg,MLB Slam!,NGage,Sports,THQ,THQ,2.8,NaN,NaN,NaN,NaN,NaN,2008-10-31,NaN,False,True

## In sports_fails, Major League Basketball 2K10 and MLB Slam! had a critic score of 2.8

In question 2, we learn how to create a new filtered column from an existing column by putting a limit or filter on the values of the existing column. We created a high rated and a low rated column and then considered that many games have a NA value and we also calculated the number of rows with NA as their critic score and then moving on, we made two new dataframes namely, sports_hits and sports_fails deriving from the dataframe video_games with the filters of genre being sport and high rated & low rated columns being true respectively.

## Question 3

In [40]:
video_games.head()

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update,high_rated,low_rated
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN,True,False
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03,True,False
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN,True,False
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN,False,False
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14,True,False

In [51]:
genre_counts = video_games.groupby("genre", as_index=False)["title"].count()

In [52]:
genre_counts

               genre  title
0             Action   8557
1   Action-Adventure   1877
2          Adventure   6260
3         Board Game     33
4          Education     35
5           Fighting   2367
6                MMO    115
7               Misc   9304
8              Music    297
9              Party    151
10          Platform   4001
11            Puzzle   3521
12            Racing   3425
13      Role-Playing   5721
14           Sandbox     20
15           Shooter   5410
16        Simulation   3158
17            Sports   5586
18          Strategy   3685
19      Visual Novel    493

In [53]:
genre_counts = genre_counts.rename(columns={"title": "game_count"})

In [54]:
genre_counts

               genre  game_count
0             Action        8557
1   Action-Adventure        1877
2          Adventure        6260
3         Board Game          33
4          Education          35
5           Fighting        2367
6                MMO         115
7               Misc        9304
8              Music         297
9              Party         151
10          Platform        4001
11            Puzzle        3521
12            Racing        3425
13      Role-Playing        5721
14           Sandbox          20
15           Shooter        5410
16        Simulation        3158
17            Sports        5586
18          Strategy        3685
19      Visual Novel         493

In [56]:
genre_counts.sort_values(by="game_count", ascending=False)

               genre  game_count
7               Misc        9304
0             Action        8557
2          Adventure        6260
13      Role-Playing        5721
17            Sports        5586
15           Shooter        5410
10          Platform        4001
18          Strategy        3685
11            Puzzle        3521
12            Racing        3425
16        Simulation        3158
5           Fighting        2367
1   Action-Adventure        1877
19      Visual Novel         493
8              Music         297
9              Party         151
6                MMO         115
4          Education          35
3         Board Game          33
14           Sandbox          20

## Miscellanous genre has the most games listed in the dataset.

In [57]:
genre_counts.head(10)

              genre  game_count
0            Action        8557
1  Action-Adventure        1877
2         Adventure        6260
3        Board Game          33
4         Education          35
5          Fighting        2367
6               MMO         115
7              Misc        9304
8             Music         297
9             Party         151

In [62]:
console_genre_counts = video_games.groupby(["console","genre"], as_index=False).size()

In [63]:
console_genre_counts = console_genre_counts.rename(
    columns={"size": "game_count"}
)

In [64]:
console_genre_counts.head()

  console      genre  game_count
0    2600     Action         302
1    2600  Adventure           3
2    2600   Fighting           3
3    2600       Misc          21
4    2600   Platform          17

In question 4, we mainly apply the logic and functions that we learnt in question 1 and quesiton 2. We also learn how to rename a column in a filtered or summarized data frame column.

## Question 4

In [66]:
app_store = pd.read_csv("/anvil/projects/tdm/data/grouping/googleplaystore.csv")

In [67]:
app_store[["Rating", "Reviews"]].head()

   Rating Reviews
0     4.1     159
1     3.9     967
2     4.7   87510
3     4.5  215644
4     4.3     967

In [68]:
app_store.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [72]:
app_store = app_store[app_store["Clean_Reviews"] != "3.0M"]

## The string value "3.0M" was causing an error when creating the numeric reviews column.

In [73]:
# Remove any commas that may exist
# Replace with "" (nothingness)
app_store["Clean_Reviews"] = app_store["Reviews"].str.replace(",", "", regex=False)
# Convert all values to type float (decimal numbers)
# ATTENTION: This line will cause an error message to appear
app_store["Numeric_Reviews"] = app_store["Clean_Reviews"].astype(float)

In [75]:
app_store["rating_per_review"] = app_store["Rating"] / app_store["Numeric_Reviews"]

In [76]:
app_store[["Rating", "Reviews", "Numeric_Reviews", "rating_per_review"]].head()

   Rating Reviews  Numeric_Reviews  rating_per_review
0     4.1     159            159.0           0.025786
1     3.9     967            967.0           0.004033
2     4.7   87510          87510.0           0.000054
3     4.5  215644         215644.0           0.000021
4     4.3     967            967.0           0.004447

In question 4, we imported a new Google play Store dataset into a dataframe called app_store and then we played around the data frame and later on, changed all the float values of the reviews column into float type from object type. Then using that numeric reviews column, we created a new rating per review column.

## Question 5

In [82]:
app_store["Content Rating"].value_counts()

Content Rating
Everyone           8714
Teen               1208
Mature 17+          499
Everyone 10+        414
Adults only 18+       3
Unrated               2
Name: count, dtype: int64

In [85]:
app_store["Content Rating"].unique().shape

(6,)

In [86]:
app_store["Content Rating"].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [87]:
app_store["New_Content_Ratings"] = app_store["Content Rating"].str.upper()

In [88]:
app_store["New_Content_Ratings"].unique()

array(['EVERYONE', 'TEEN', 'EVERYONE 10+', 'MATURE 17+',
       'ADULTS ONLY 18+', 'UNRATED'], dtype=object)

In [93]:
app_store["New_Content_Ratings"].head()

0    EVERYONE
1    EVERYONE
2    EVERYONE
3        TEEN
4    EVERYONE
Name: New_Content_Ratings, dtype: object

In [98]:
app_store.groupby("New_Content_Ratings", as_index=False)["App"].count().rename(columns={"App": "app_count"})

  New_Content_Ratings  app_count
0     ADULTS ONLY 18+          3
1            EVERYONE       8714
2        EVERYONE 10+        414
3          MATURE 17+        499
4                TEEN       1208
5             UNRATED          2

## EVERYONE content rating category has the most apps

In question 5, we explore a new column named Content Rating. We also learn we can count the number of unique values in a column by using .unique() and .unique().shape

we also learnt the use of .str.upper() to capitalize all the letters. Using all of this, we create a New Content Rating column with everything capitalized and gain insights from it.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.

https://www.purdue.edu/odos/osrr/honor-pledge/